* {
  box-sizing: border-box !important;
  font-family: "Hahmlet", serif;
  border-radius: 7px;
}

body {
  height: 100vh;
  width: 100vw;
}
.logo-p {
  height: 2rem;
  width: 11rem;
  position: fixed;
  font-size: 1.5rem;
  top: 1rem;
  left: 2rem;
  font-family: "Indie Flower";
}
.NavBar {
  display: flex;
  position: fixed;
  height: 4rem;
  width: 100vh;
  border: 1px solid;
  top: 5px;
  left: calc((100vw - 100vh) / 2);
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.NavBar p {
  margin: 1.5rem;
}

.NavBar p a {
  color: black;
  text-decoration: none;
}

.Contact-Pallete {
  height: 14rem;
  width: 4rem;
  border: 1px solid;
  position: fixed;
  top: calc((100vh - 14rem) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 5px;
  font-size: 1.4rem;
}

.Contact-Pallete img {
  height: 2rem;
  width: 2rem;
  margin: auto;
}

.Main-Content {
  height: calc(100vh - 5.6rem);
  width: calc(100vw - 5.6rem);
  border: 1px solid;
  position: relative;
  top: 5rem;
  left: 5rem;
  overflow: auto;
  scroll-behavior: smooth;
  border-radius: 17px;
}

.Home-Animation {
  height: 45%;
  width: 45%;
  position: relative;
  top: 25%;
  left: 25%;
}

.Home-Animation svg {
  height: 70%;
  width: 100%;
}
.Main-Content-2 {
  height: calc(100vh - 5.6rem);
  width: calc(100vw - 5.6rem);
  position: relative;
  top: 5rem;
  left: 5rem;
  border-radius: 17px;
}

text {
  display: none;
  font-family: "Indie Flower", cursive;
  stroke: rgba(0, 0, 0, 0.322);
  stroke-dasharray: 1;
  stroke-width: 2;
  font-weight: bold;
}

.show {
  display: inline;
}

.Home-Animation p {
  opacity: 0;
  position: absolute;
  left: 3.5rem;
  font-size: 2rem;
  top: 6.7rem;
  color: #2f3542;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
.Home-Animation p span {
  font-size: 1.6rem;
  margin: 0.3rem;
}

.show-p {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.slide-left {
  animation-name: slidefromleft;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes slidefromleft {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: calc(100vw - 5.6rem);
    height: calc(100vh - 5.6rem);
  }
}

.heading {
  margin: 1.2rem;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
}
.About-paragraph {
  padding: 1rem;
  font-size: 1.5rem;
}
.About-paragraph a {
  color: #2f3542;
}

.project p {
  padding: 1rem;
  font-size: 1.2rem;
}

.project h3 {
  text-align: center;
  margin-top: 1.5rem;
}
/* .Gallery{
  display: flex;
} */

figure {
  max-height: 12rem;
  position: relative;
  max-width: 12rem;
  margin: 1rem;
  display: flex;
  overflow: hidden;
  border-radius: 0px;
}

figure div.caption {
  height: 100%;
  width: 100%;
  position: absolute;
  background: black;
  opacity: 0.8;
  color: white;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}

figcaption {
  width: 60%;
  height: 60%;
  font-size: 0.8rem;
  opacity: 1;
  text-align: center;
  padding: 1rem;
}

.upgrade-inp1 {
  position: absolute;
  top: 9rem;
  left: 5rem;
  height: 2rem;
  outline: none;
  border: 1px solid #2f3542;
}

.upgrade-inp2 {
  position: absolute;
  top: 9rem;
  left: 25rem;
  height: 2rem;
  outline: none;
  border: 1px solid #2f3542;
}

.upgrade-txt {
  position: absolute;
  top: 12rem;
  left: 5rem;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid #2f3542;
}

.upgrade-btn {
  position: absolute;
  bottom: 7rem;
  left: 34rem;
  height: 3rem;
  width: 7rem;
  outline: none;
  border: 1px solid #2f3542;
  background-color: #2f3542;
  color: white;
  font-family:  "Indie Flower", cursive;
  font-size: 1.2rem;
}

.AllPhotos-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
  font-family:  "Indie Flower", cursive;
}

.image img {
  width: auto;
  height: auto;
  aspect-ratio: 1;
  max-width: 12rem;
  max-height: 12rem;
  border-radius: 0px;
}

.Zoomed-pic {
  display: none;
  position: absolute;

  height: 25rem;
  width: 25rem;
  z-index: 2;
  top: 5rem;
  left: 27rem;
  border-radius: 0px;
}

.Zoomed-pic img {
  height: inherit;
  width: inherit;
  aspect-ratio: 1;
  border-radius: 0px;
}
